---
import Email from '@/assets/icons/email.svg'
import Github from '@/assets/icons/github.svg'
import Medium from '@/assets/icons/medium.svg'
import YouTube from '@/assets/icons/youtube.svg'

import Down from '@/assets/icons/down.svg'

export const socialLinks = [
    {
        icon: Github,
        href: 'https://github.com/jwmdykes',
        width: '28px',
        height: '28px',
        label: 'Github',
    },
    {
        icon: YouTube,
        href: 'https://www.youtube.com/@aByteWizard',
        width: '30px',
        height: '30px',
        label: 'Youtube',
    },
    {
        icon: Medium,
        href: 'https://medium.com/@98johndykes',
        width: '36px',
        height: '36px',
        label: 'Medium',
    },
    {
        icon: Email,
        href: 'mailto:98johndykes@gmail.com',
        width: '28px',
        height: '28px',
        label: 'Email',
    },
]
import Section from '@/components/Section.astro'
---

<Section class="flex flex-col">
    <div class="px-6 grow flex flex-col items-center justify-center">
        <div class="text-5xl sm:text-7xl font-bold">John Dykes</div>
        <div class="text-lg sm:text-2xl mt-4 sm:mt-6">
            Full Stack Web and AI Developer
        </div>
        <hr
            class="mx-auto w-lg max-w-full my-6 border-t-3 border-neutral-400 rounded-full"
        />
        <ul class="flex items-center justify-center gap-4 fill-current">
            {
                socialLinks.map((link) => (
                    <li>
                        <a href={link.href} aria-label={link.label}>
                            {
                                <link.icon
                                    width={link.width}
                                    height={link.height}
                                />
                            }
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div
        id="tsparticles"
        class="absolute top-0 left-0 w-full h-full pointer-events-none overflow-hidden"
    >
        <div
            class="flex flex-col items-center gap-1 absolute bottom-4 left-1/2 -translate-x-1/2 font-medium text-sm"
        >
            Scroll
            <Down width="35px" height="35px" />
        </div>
    </div>
</Section>

<script>
    import { tsParticles } from '@tsparticles/engine'

    document.addEventListener('DOMContentLoaded', async () => {
        await tsParticles.load({
            id: 'tsparticles',
            options: {},
        })

        const particles = tsParticles.domItem(0)
        console.log(particles)
        particles?.play()
    })
</script>
