---
import Email from '@/assets/icons/email.svg'
import Github from '@/assets/icons/github.svg'
import Medium from '@/assets/icons/medium.svg'
import YouTube from '@/assets/icons/youtube.svg'

import Down from '@/assets/icons/down.svg'

export const socialLinks = [
    {
        icon: Github,
        href: 'https://github.com/jwmdykes',
        width: '28px',
        height: '28px',
        label: 'Github',
    },
    {
        icon: YouTube,
        href: 'https://www.youtube.com/@aByteWizard',
        width: '30px',
        height: '30px',
        label: 'Youtube',
    },
    {
        icon: Medium,
        href: 'https://medium.com/@98johndykes',
        width: '36px',
        height: '36px',
        label: 'Medium',
    },
    {
        icon: Email,
        href: 'mailto:98johndykes@gmail.com',
        width: '28px',
        height: '28px',
        label: 'Email',
    },
]
import Section from '@/components/Section.astro'
import HeroParticles from '@/components/HeroParticles.astro'
---

<Section class="flex flex-col items-center justify-center relative">
    <div
        class="px-6 py-6 flex flex-col items-center justify-center rounded-full bg-radial from-white from-30% to-transparent z-10 text-center"
    >
        <div class="text-5xl sm:text-7xl font-bold">John Dykes</div>
        <div class="text-lg sm:text-2xl mt-4 sm:mt-6 text-neutral-700">
            Full Stack Web and AI Developer
        </div>
        <hr class="w-full h-1.5 my-6 bg-neutral-200 rounded-full border-none" />
        <ul class="flex items-center justify-center gap-4 fill-current">
            {
                socialLinks.map((link) => (
                    <li>
                        <a href={link.href} aria-label={link.label}>
                            {
                                <link.icon
                                    width={link.width}
                                    height={link.height}
                                />
                            }
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <div
        class="flex flex-col items-center gap-1 absolute bottom-4 left-1/2 -translate-x-1/2 font-medium text-sm"
    >
        Scroll
        <Down width="35px" height="35px" />
    </div>

    <HeroParticles />
</Section>
