---
interface Props {
    class?: string
}

const { class: className } = Astro.props
---

<section
    class:list={[
        'rounded-xl mx-0 md:mx-3 min-h-[max(500px,calc(100svh-72px-24px))] bg-background relative text-neutral-800 overflow-hidden',
        className,
    ]}
>
    <slot />
</section>
