---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'section'>

const { class: className, ...props } = Astro.props
---

<section
    class:list={[
        'rounded-xl mt-2 md:mt-3 mx-0 md:mx-3 min-h-[max(500px,calc(100svh-60px-8px))] md:min-h-[max(500px,calc(100svh-60px-36px))] bg-background relative text-neutral-800 scroll-mt-17 md:scroll-mt-21',
        className,
    ]}
    {...props}
>
    <slot />
</section>
