---
import SectionHeader from '@/components/SectionHeader.astro'

import Backend from '@/assets/icons/backend.svg'
import Frontend from '@/assets/icons/web-design.svg'
import AI from '@/assets/icons/chat.svg'
import Section from '@/components/Section.astro'

import VerticalLines from '@/assets/design/vertical-lines.svg'

const skills = [
    {
        title: 'Frontend',
        tools: [
            '5+ years of experience with <strong>React</strong>, including <strong>SSR</strong>',
            'Experience with <strong>CSS</strong> and <strong>Tailwind CSS</strong>',
            'I use <strong>Astro JS </strong>for my content-heavy websites',
            'Creating SVG/image assets with the <strong>Affinity suite</strong> of design tools',
            'Experience with <strong>Web Workers</strong>, offloading AI/image manipulation tasks away from the main thread',
            'Experience creating <strong>browser extensions</strong>',
        ],
        icon: Frontend,
    },
    {
        title: 'Backend',
        tools: [
            'Hosting applications on <strong>Google Cloud</strong> (Cloud Run, Compute Engine, Cloud Storage, Cloud Build)',
            'Backends with <strong>Fastify</strong>, including <strong>TRPC</strong> integration, custom plugins, authentication, and authorization',
            'Hosting websites/applications on <strong>CloudFlare workers</strong>',
            'Strong knowledge of <strong>PostgreSQL</strong>, including row level security, triggers, plpgsql',
        ],
        icon: Backend,
    },
    {
        title: 'AI',
        tools: [
            'Training custom Transformer-based AI models with <strong>PyTorch</strong>',
            'Training <strong>Darknet/Yolov4</strong> Models',
            'Making use of <strong>OpenAI</strong> and <strong>Gemini</strong> APIs in applications',
            'Running AI models in browser with <strong>ONNX and WebGPU</strong>',
            'Created a rust library which generates <strong>synthetic training data</strong> for an OCR model',
            'Created web UI for labeling <strong>bounding box</strong> data for LangPanel.',
        ],
        icon: AI,
    },
]
---

<Section
    class="flex flex-col items-center justify-center px-4 md:px-6 py-22 md:py-26 z-10"
>
    <SectionHeader>My Skills</SectionHeader>
    <div
        class="max-w-5xl mx-auto mt-16 sm:mt-20 grid grid-cols-1 lg:grid-cols-3 gap-y-6 md:gap-y-12 gap-x-5"
    >
        {
            skills.map((skill) => (
                <div class="border-2 border-neutral-100 px-4 py-6 rounded-xl relative bg-white">
                    {
                        <div class="mx-auto h-18 w-18 rounded-full bg-neutral-700 flex items-center justify-center">
                            <skill.icon
                                width={40}
                                height={40}
                                class={`mx-auto fill-white ${skill.title === 'Backend' && 'translate-x-0.5 translate-y-[1px]'} ${skill.title === 'AI' && 'translate-y-[1px]'}`}
                            />
                        </div>
                    }

                    <h2 class="mt-2 text-center text-2xl font-bold">
                        {skill.title}
                    </h2>

                    <div class="w-full h-[2px] bg-neutral-300 mt-4 rounded-full" />

                    <ul class="mt-4 flex flex-col gap-4 ml-4">
                        {skill.tools.map((tool) => (
                            <li
                                class="list-disc list-outside"
                                set:html={tool}
                            />
                        ))}
                    </ul>

                    <div class="absolute w-full h-full top-2 left-2 bg-neutral-400 rounded-xl -z-10" />
                </div>
            ))
        }
    </div>

    <div
        class="-z-10 absolute top-0 w-full h-full pointer-events-none overflow-hidden rounded-xl"
    >
        <div id="bar-lines" class="absolute left-1 bottom-0 h-[40px] w-full">
        </div>

        <div
            id="bar-lines"
            class="absolute left-1 top-0 h-[40px] w-full scale-y-[-1]"
        >
        </div>
    </div>
</Section>

<style define:vars={{ verticalLines: `url(${VerticalLines.src})` }}>
    #bar-lines {
        background-image: var(--verticalLines);
        background-repeat: repeat;
    }
</style>
