---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
import Experience from '@/components/Experience.astro'
import Skills from '@/components/Skills.astro'
import Footer from '@/components/Footer.astro'

// contact section
import Section from '@/components/Section.astro'
import SectionHeader from '@/components/SectionHeader.astro'
---

<Layout>
    <main>
        <Hero />
        <Projects />
        <Experience />
        <Skills />

        <Section class="mt-4" />
        <SectionHeader>Contact Me</SectionHeader>

        <Footer />
    </main>
</Layout>
