---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Projects from '@/components/Projects.astro'
import Experience from '@/components/Experience.astro'
import Tools from '@/components/Tools.astro'

import { socialLinks } from '@/components/Hero.astro'
---

<Layout>
    <main>
        <Hero />
        <Projects />
        <Experience />
        <Tools />

        <footer
            class="mt-4 bg-background py-4 rounded-t-xl flex items-center justify-between px-4"
        >
            <div class="text-neutral-600 text-left">
                Created by &copy; John Dykes
            </div>
            <div class="flex gap-4 items-center">
                <ul class="flex items-center justify-center gap-4">
                    {
                        socialLinks.map((link) => (
                            <li class="fill-neutral-700">
                                <a
                                    href={link.href}
                                    aria-label={link.label}
                                    class="hover:fill-black"
                                >
                                    {
                                        <link.icon
                                            width={link.width}
                                            height={link.height}
                                        />
                                    }
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </footer>
    </main>
</Layout>
