@import 'tailwindcss';

@theme {
    --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir,
        segoe ui, helvetica neue, Adwaita Sans, Cantarell, Ubuntu, roboto, noto,
        helvetica, arial, sans-serif;
    --color-primary: black;
    --color-background: hsl(60, 27%, 98%);
}

@config "@/styles/tailwind.config.js";
